.page-hdr{
	background-color:#930000;
	width: 100%; height: 125px;
	border-radius: 0 0 20px 20px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size: 36px;
	font-weight: bold;
}

body {
	color: #666;
	font: 14px/24px "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}
table {
	border-collapse: separate;
	border-spacing: 0;
	width: 100%;
 }
th,td {
	padding: 6px 15px;
}
th {
	background: #42444e;
	color: #fff;
	text-align: left;
}

/* 모서리 부드럽게 */
tr:first-child th:first-child {
	border-top-left-radius: 6px;
}
tr:first-child th:last-child {
	border-top-right-radius: 6px;
}
tr:last-child td:first-child {
	border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
	border-bottom-right-radius: 6px;
}

td {
	border-right: 1px solid #c6c9cc;
	border-bottom: 1px solid #c6c9cc;
}
td:first-child {
	width: 70%;
	border-left: 1px solid #c6c9cc;
}

tr:nth-child(even) td {
	background: #eaeaed;
}

input[type=text]{
	width: 100%;
	box-sizing: border-box;
	border: 0px;
}
tr:nth-child(even) input[type=text] {
	background: #eaeaed;
}

input[type=number]{
	font-size: 14px;
	width: 50px;
	border: 0px;
}
tr:nth-child(even) input[type=number] {
	background: #eaeaed;
}

select {
	font-size: 14px;
	width: 50px;
	border: 0px;
}
tr:nth-child(even) select {
	background: #eaeaed;
}

input[type=submit]{
	position: absolute;
    left: 50%;
    transform: translateX(-50%);
	width: 20%;
	line-height: 40px;
	font-size: 24px;
	background-color: #42444e;
	color: #fff;
	border: 1px solid #fff;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}