.page-hdr{
	background-color:#930000;
	width: 100%; height: 125px;
	border-radius: 0 0 20px 20px;
	display:flex;
	align-items:center;
	justify-content:center;
	color:white;
	font-size: 36px;
	font-weight: bold;
}

img {
	height: 400px;
	left: 200px;
}
