@charset "UTF-8";

html{ /*html전체적인 폰트 크기*/
	font-size: 10px; 
}

#topRectangle {
	background-color: #930000;
	height: 150px;
	width: 100%;
	border-radius: 0 0 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 36px;
	margin-bottom: 50px; /* 간격 조절 */
}
#topRectangle strong {
	font-weight: bold; /* 텍스트 굵게 설정 */
}


.bt_wrap{
   margin-top: 30px;
   text-align: center;
   font-size: 0;
   text-align:center;
}
.bt_wrap a{
   display: inline-block;
   min-width: 80px;
   margin-left: 10px;
   padding: 9px; 
   border: 1px solid #000;
   border-radius: 1px;
   font-size: 1.4rem;
}
.bt_wrap a:first-child{
   margin-left: 0;
}
.bt_wrap a.on{
   background: #fff;
   color: #000;
}

.bt_all {
	margin-top: 10px;
   text-align: center;
   font-size: 0;
   text-align: right;
}
.bt_all a{
  display: inline-block;
   min-width: 45px;
   margin-left: 1px;
   padding: 5px;
   border: 1px solid #000;
   border-radius: 1px;
   font-size: 1.1rem;
   text-decoration: none;
}




.board_list{
	width: 100%;
	border-top: 1px solid #000;
}
.board_list > div{
	border-bottom: 1px solid #ddd;
	font-size: 0;
}
.board_list > div.top{
	border-bottom: 1px solid #999;
}
.board_list > div:last-child{
	border-bottom: 1px solid #000;
}
.board_list > div > div{
	display: inline-block;
	padding: 15px 0;
	text-align: center;
	font-size: 1.4rem;
}
.board_list > div.top > div{
	font-weight: 600;
}

.board_list .num{
	width: 10%;
}
.board_list .title{
	width: 60%;
	text-align: left;
}

.board_list .title a {
    text-decoration: none;
 }
  
.board_list .top .title{
	text-align: center;
}
.board_list .writer{
	width: 10%;
}
.board_list .date{
	width: 20%;
}


.board_page{
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}
.board_page a{
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 10;
	line-height: 100%;
}
.board_page a.bt{
	padding-top: 10px;
	font-size: 1.2rem;
	letter-spacing: -1px;
}
.board_page a.num{
	padding-top: 10px;
	font-size: 1.5rem;
}
.board_page a.num.on{
	border-color: #000;
	background: #000;
	color: #fff;
}
.board_page a:first-child{
	border-left: 1px solid #ddd;
}
