body {
	margin: 0;
	padding: 0;
	background-color: white;
	font-family: 'Arial', sans-serif;
}

#topRectangle {
	background-color: #930000;
	height: 125px;
	width: 100%;
	border-radius: 0 0 20px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 36px;
	margin-bottom: 50px; /* 간격 조절 */
}

#topRectangle strong {
	font-weight: bold; /* 텍스트 굵게 설정 */
}

h1{
    display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: white;
	padding: 20px 0;
	margin-bottom: 50px; /* 간격 조절 */
}

p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    padding: 20px 0;
}

h2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightgrey;
    padding: 20px 0;
}

#toSchoolRemainingTime,#toStationRemainingTime{
	font-weight : bolder; 
	color: #930000;
	font-size:1.4em;
}

#toStationCurrentTargetTime,#toSchoolCurrentTargetTime{
	font-weight : bolder;
	color: black;
	font-size:1.1em;
}
